{% extends 'base.html' %}
{%block content%}
<div style="background-image: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/675859513.jpg?k=cbb19bcc2fd1ab8b431d538e96cd0372c4738a46c69d9204d60649dcac98d843&o=&hp=1); margin: 20px 0px; padding:200px; background-size: cover; background-position: center;">
    <h1 style="text-align:center; color:aliceblue;">Доступні кімнати</h1>
</div>



<style>
  @media (min-width: 768px) {
    .col-4th {
      flex: 0 0 33%;
      max-width: 33%;   
    }
  }
  .card-img-top{
    height: 300px;
    object-fit: cover;
  }
</style>
<div class="row">
    {% for room in rooms %}
        <div class="col-4th mb-4 d-flex align-items-stretch">
            <div class="card w-100" style="margin-top: 20px;">
                <img src="{{ room.text_srcs }}" class="card-img-top" alt="IMG not found">
                <div class="card-body">
                    <h6 class="card-text">{{room.name}}</h6>
                    <p style="color: gray; padding-bottom: 20px">{{room.description}}</p>
                    <h4 style="position:absolute; right: 0; bottom: 0; padding-right: 30px; padding-bottom: 5px;">${{room.price_per_night}}</h4>
                    <a href="/testing/create/"style="position:absolute; left: 0; margin-left: 10px; margin-bottom: 10px; bottom: 0; padding-left: 50px; padding-right: 50px;"class="btn btn-primary" type="button"><b>Замовити кімнату</b></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}